
html{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contenedor {
  overflow: hidden;
}
.menu-navegacion {
    background-color: #00628b;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
  }
  .menu-navegacion ul {
    list-style-type: none;
    background-color: #81a594;
    text-align: center;
  }
  .menu-navegacion ul li {
    display: inline-block;
    border: 1px solid #00628b;
    padding: 5px;
    background-color: #81a594 ;

  }
  .menu-navegacion ul li a {
    text-decoration: none;
    color: #FFFFFF;
  }
  .cuerpo-principal {
    background-color: #00628b;
    color: #FFFFFF;
    width: 1200px;
    margin-left: 80px;
    margin-top: 65px;  
    overflow: hidden;
    text-align: justify;
  }
  strong{
    color: #81a594;
    font-size: 80px;
  }
  .img-inicio{
    
    width:1024px ;
    height: 519px;
    margin-left: 90px;
  }
  .img-frog{
    height: 300px;
    width: 300px;
  }
  .scroll {
    margin: 30px;
       width:1150px;
       height:400px;
       overflow:scroll;
  }
  .botones ul {
    list-style: none; 
    margin: 0; 
    padding: 0; 
    display: inline-block; 
    width: 100%; 
 }
 
 .botones li {
    float: left; 
    width: 80px; 
    height: 80px; 
  margin-left: 320px; } 
 
 .botones li a { /* make link fill the li element */
    display: block; 
    height: 80px; 

 }
 .cuerpo-opinion{
  background: #00628b;
  color: #FFFFFF;
  text-align: justify;
width: 99.5%;
 }
em{
  font-size: 30px;
  color: #E6E6DC;
  text-align: start;
  text-transform: uppercase;
  text-shadow: #81a594;
}
.stanza {
	margin:1em auto;
	width:70%;
	position:relative;
	}